/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    height: 100%;
    background-color: #ccc;
    overflow: hidden;
}

input[type="checkbox"], input[type="radio"] {
    cursor: pointer;
}

svg {
    display: block;
    margin: auto;
}

#cover {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 10000;
    text-align: center;
}

#cover div {
    margin-left: -10%;
    margin-top: 10%;
}

#cover img {
    width: 20%;
}

#container {
    margin: 0 5em;
    min-height: 100vh;
    background-color: white;
    box-shadow: 0 0 5px black;
}

#header, #footer {
    width: 100%;
    clear: both;
}

#header {
    height: 3em;
    /*text-align: right;*/
}

#header h1 {
    /*float: left;*/
    display: inline-block;
    margin: 0 1em;
    text-align: left;
    max-width: 75%;
}

#header img {
    max-height: 4em;
    margin: 5px 20px 0 0;
    position: absolute;
    right: 5em;
}

.timer {
    position: absolute;
    right: 5em;
    font-size: 1.3em;
    display: inline-block;
    margin: 0;
}

/*#set-timer {
    display: inline-block;
    font-size: 1.3em;
    padding-top: 0.5em;
    vertical-align: top;
    margin-right: 2em;
}*/

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -1em;
}

#footer {
    position: absolute;
    bottom: 0;
}

#footer span {
    font-size: 0.8em;
    line-height: 1.5em;
    margin-left: 1em;
}

#m, #q {
    margin: 0;
    padding: 1em;
    display: inline-block;
    width: 45%;
    clear: both;
    vertical-align: top;
}

#m {
    height: 650px; /* temporary height to allow for map layer placement */
    text-align: center;
    border-right: 10px solid #ccc;
}

#q {
    overflow: auto;
}

#map {
    width: 100%;
    height: 100%;
    border: 2px solid #ccc;
    display: inline-block;
}

#map img {
    width: inherit;
}

#map iframe {
    width: 100%;
    height: 100%;
}

.attr {
    font-weight: bold;
    padding-right: 10px;
}

.control-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.interaction-control-container {
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.interaction-control {
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
}

.control-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.leaflet-control a {
    width: auto !important;
}

.leaflet-left {
    bottom: 10px;
}

.filter-row {
    padding: 5px;
}

.range-slider {
    width: 300px;
}

.slider-labels {
    display: inline;
}

.layer-name {
    display: inline;
}

.left, .right {
    position: absolute;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.button {
    cursor: pointer;
}

.close {
    float: right;
    font-size: 25pt;
    line-height: 0.7em;
    text-align: center;
    cursor: pointer;
    z-index: 8;
    color: #333 !important;
}

.active {
    background-color: #ccc;
}

.legend-layer-title {
    font-size: 1em;
    line-height: 1.2em;
    margin: 5px 0;
}

.legend-control-container rect, .legend-control-container circle {
    stroke: black;
    stroke-width: 1;
}

#pan-left {
    display: inline-block;
    margin-right: 10px;
}

#pan-right {
    display: inline-block;
    margin-left: 10px;
}

.retrieve-line {
    margin: 0;
}

.retrieve-attributes {
    text-align: left;
}

.overlay-control-layer {
    padding-top: 5px;
}

#search-box {
    padding: 5px 0;
}

#search-results-box p {
    cursor: pointer;
}

.section-title {
    font-weight: bold;
}

.reexpress-input-div {
    text-align: left;
}

.color-swatch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    vertical-align: middle;
}

.color-scale {
    max-width: 20px;
}

.color-scale option {
    max-width: 0px;
}

.color-scale span {
    margin-left: 20px;
}

.color-scale-palette {
    border-color: #fff #ccc #ccc;
    border-style: inset solid solid;
    border-width: 1px;
    padding: 2px;

}

.color-scale-list {
    position: fixed;
    display: none;
    z-index: 1001;
    padding: 2px;
    background-color: #fff;
    overflow-y: auto;
    border-color: #fff #ccc #ccc;
    border-style: solid;
    border-width: 1px;
}

.color-scale-list li {
    display: block;
}

.color-scale-button {
    height: 23px;
}

.resymbolize-line {
    padding: 0 0 4px 0;
    margin: 0;
    display: block;
}

.heatmap-symbol {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

.rendering-progress-bar {
    margin-top: 5px;
    color: red;
}

.progress-bar-border {
    border: 1px solid black;
    border-radius: 2px;
    width: 100px;
    height: 10px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.progress-bar-fill {
    background-color: red;
    color: red;
    display: inline-block;
    border-radius: 1px;
    height: 10px;
}

.description {
    font-style: italic;
}

.required {
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    color: #F00;
    line-height: 1em;
    padding-right: 5px;
}

.ask, .input, .title {
    margin: 1px 0;
}

.description {
    margin: 1px 0 2px 0;
}

.block {
    margin-bottom: 15px;
}

#q input[type=text], textarea {
    width: 100%;
}

#q input[type=checkbox] {
    margin-right: 10px;
}

#q td, th {
    padding: 0 10px;
}

.option {
    text-align: center;
}

.radio-text {
    margin-left: 10px;
}

.rank-item {
    border: 1px solid #999;
    padding: 2px;
    background-color: #EFEFEF;
    cursor: grab;
    margin: 4px 0;
}

span.value, span.rank {
    font-style: italic;
    width: 15px;
    display: inline-block;
}

.buttons {
    text-align: center;
    font-size: 1.2em;
}

.buttons button {
    margin: 0 10px 10px 10px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
