<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" href="favicon.ico">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="js/lib/jquery-ui/jquery-ui.css">
        <link rel="stylesheet" href="js/lib/leaflet/leaflet.css">
        <link rel="stylesheet" href="js/lib/mapboxgl/mapboxgl.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="cover">
            <div>
                <img src="img/loading.gif">
                <span class="loading">Loading, please wait (this may take a few minutes)...</span>
            </div>
        </div>
        <div id="container">
            <section id="header">
                <h1 class="content"></h1>
                <span id="page-timer"></span>
                <span id="set-timer"></span>
                <img>
            </section>
            <section id="m">Error, Will Robinson! Your map configuration is bad!</section>
            <section id="q">Dammit Jim, I'm a doctor, not a magician! Fix your questions configuration!</section>
            <section id="footer">
                <span class="content"></span>
            </section>
        </div>

        <script type="text/template" id="question-template">
            <div>
                <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %>>
                <%= title %>
            </div>
        </script>

        <script type="text/template" id="interaction-control-template">
            <div class="<%= interaction %>-control interaction-control button">
                <img src="img/icons/<%= interaction %>.png" alt="<%= interaction %>" title="click for <%= interaction %> interaction">
            </div>
        </script>

        <script type="text/template" id="pan-control-template">
            <div class="pan-button button" id="pan-up">
                <img src="img/icons/uparrow.png" alt="pan up" title="pan up">
            </div>
            <div class="pan-button button" id="pan-left">
                <img src="img/icons/leftarrow.png" alt="pan left" title="pan left">
            </div>
            <div class="pan-button button" id="pan-right">
                <img src="img/icons/rightarrow.png" alt="pan right" title="pan right">
            </div>
            <div class="pan-button button" id="pan-down">
                <img src="img/icons/downarrow.png" alt="pan down" title="pan down">
            </div>
        </script>

        <script type="text/template" id="popup-line-template">
            <tr><td class='attr'><%= attribute %>:</td><td><%= value %></td></tr>
        </script>

        <script type="text/template" id="overlay-control-template">
            <div class="overlay-control-layer <%= techniqueType %>-layer layer-<%= layerId %>" id="overlay-layer-<%= layerId %>">
                <input type="checkbox" name="overlay-input" value="<%= layerId %>">
                <label for="<%= layerId %>"><%= layerName %></label>
            </div>
        </script>

        <script type="text/template" id="underlay-control-template">
            <div class="underlay-control-layer layer-<%= layerId %>" id="underlay-layer-<%= layerId %>">
                <input type="radio" name="underlay-input" value="<%= layerId %>">
                <label for="<%= layerId %>"><%= layerName %></label>
            </div>
        </script>

        <script type="text/template" id="search-control-template">
            <div id="search-box">
                <label for="search">Search for:</label>
                <input type="text" name="search">
                <button type="button" name="reset">Reset</button>
            </div>
            <div id="search-results-box"></div>
        </script>

        <script type="text/template" id="search-result-template">
            <p class="result" id="result-<%= featureId %>"><%= featureName %></p>
        </script>


        <script type="text/template" id="slider-template">
            <div id="<%= className %>-slider-div" class="filter-row">
                <p class="layer-name"><%= layerName %>&nbsp;<select name="<%= className %>"></select></p>
                <div id="<%= className %>-labels" class="slider-labels">
                <span class="left"></span><span class="right"></span>
                </div>
                <div id="<%= className %>-slider" class="range-slider"></div>
            </div>
        </script>

        <script type="text/template" id="logic-template">
            <div id="<%= className %>-logic-div" class="filter-row">
                <input type="text" name="value1" size="8">
                &nbsp;&lt;&nbsp;<%= layerName %>&nbsp;<select name="<%= className %>"></select>&nbsp;&lt;&nbsp;
                <input type="text" name="value2" size="8">
            </div>
        </script>

        <script type="text/template" id="filter-options-template">
            <option value="<%= attribute %>"><%= attribute %></option>
        </script>

        <script type="text/template" id="reexpress-section-template">
            <div id="<%= layerNameClass %>-reexpress-section" class="reexpress-section">
                <p class="reexpress-section-title section-title"><%= layerName %></p>
            </div>
        </script>

        <script type="text/template" id="reexpress-input-template">
            <div class="reexpress-input-div">
                <input type="radio" name="<%= layerNameClass %>" class="<%= techniqueTypeClass %>" value="<%= layerId %>">
                <label for="<%= layerId %>">
                    <img src="img/icons/<%= techniqueTypeClass %>.png" alt="<%= techniqueType %>">
                    <%= techniqueType %>
                </label>
            </div>
        </script>

        <script type="text/template" id="resymbolize-section-template">
            <div id="<%= layerNameClass %>-<%= techniqueTypeClass %>-resymbolize-section" class="resymbolize-section">
                <p class="resymbolize-section-title section-title"><%= layerName %> <%= techniqueType %></p>
            </div>
        </script>

        <script type="text/template" id="reclassify-template">
            <div id="<%= layerNameClass %>-<%= techniqueTypeClass %>-reclassify" class="reclassify">
                <div class="classification resymbolize-line">
                    <label>Classification: </label>
                    <select name="classification">
                        <option value="quantile">Quantile</option>
                        <option value="equal interval">Equal Interval</option>
                        <option value="natural breaks">Natural Breaks</option>
                        <option value="unclassed">Unclassed</option>
                        <option value="user defined">User Defined</option>
                    </select>
                </div>
                <div class="n-classes resymbolize-line">
                    <label>Number of classes: </label>
                    <select name="n-classes">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                <div class="class-breaks resymbolize-line">
                    <label class="resymbolize-line">Class breaks: </label>
                    <span class="class-break class-min"></span>
                    <span class="class-break class-break-inputs"></span>
                    <span class="class-break class-max"></span>
                </div>
            </div>
        </script>

        <script type="text/template" id="class-break-input-template">
            <span class="class-break cb-<%= index %>" style="display: <%= display %>;">
                <input type="text" size="2">
            </span>
        </script>

        <script type="text/template" id="rescale-template">
            <div id="<%= layerNameClass %>-<%= techniqueTypeClass %>-rescale" class="rescale">
                <label><%= rescaleLabel %>: </label>
                <label for="scale-value-min" class="scale-value-hideable">min: </label>
                <input name="scale-value-min" class="scale-value-hideable" type="text" size="3">
                <label for="scale-value-max" class="scale-value-hideable">max: </label>
                <input name="scale-value-max" type="text" size="3">
                <div class="rendering-progress-bar" style="display: none;">
                    Rendering&mdash;please wait... 
                    <div class="progress-bar-border">
                        <div class="progress-bar-fill">.</div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="recolor-template">
            <div id="<%= layerNameClass %>-<%= techniqueTypeClass %>-recolor" class="recolor">
                <label><%= recolorLabel %>: </label>
                <span class="color-scale-palette"></span>
                <button class="color-scale-button" type="button">
                    <img src="img/downarrow.png">
                </button>
                <div class="color-scale-list"></div>
                <input type="color" name="fill-color">
            </div>
        </script>

        <script type="text/template" id="color-scale-option-template">
            <option value="<%= colorcode %>"><%= colorcode %>.<%= nClasses %></option>
        </script>

        <script type="text/template" id="color-scale-list-template">
            <li class="<%= colorcode %>"></li>
        </script>

        <script type="text/template" id="color-swatch-template">
            <span class="color-swatch" style="background-color: <%= fillColor %>"></span>
        </script>

        <script type="text/template" id="choropleth-legend-template">
            <rect width="20" height="12" x="10" y="<%= y + 3 %>" fill="<%= range %>"/>
            <text x="35" y="<%= y + 13 %>"><%= label %></text>
        </script>

        <script type="text/template" id="proportional-symbol-legend-template">
            <circle cx="<%= cx %>" cy="<%= svgHeight - range - 3 %>" r="<%= range %>"/>
            <text x="<%= cx * 2 %>" y="<%= y + 13 %>"><%= label %></text>
        </script>

        <script type="text/template" id="isarithmic-legend-template">
            <path d="M10 9 H 30" fill="transparent" stroke="<%= range %>"/>
            <text x="35" y="13"><%= label %></text>
        </script>

        <script type="text/template" id="heat-legend-template">
            <text x="5" y="14"><%= label %></text>
        </script>

        <script type="text/template" id="heat-symbol-template">
            <div class="heatmap-symbol"></div>
        </script>

        <script type="text/template" id="dot-legend-template">
            <circle cx="<%= cx %>" cy="<%= svgHeight - range*2 - 3 %>" r="<%= range %>"/>
            <text x="<%= cx * 2 %>" y="<%= y + 13 %>"><%= label %></text>
        </script>

        <script type="text/template" id="close-button-template">
            <a class="close" title="close" style="display: none;">&times;</a>
        </script>

        <script type="text/template" id="text-input-template">
            <div class="input">
                <input type="text" name="<%= label %>">
            </div>
        </script>

        <script type="text/template" id="paragraph-input-template">
            <div class="input">
                <textarea rows="4" name="<%= label %>"></textarea>
            </div>
        </script>

        <script type="text/template" id="checkbox-input-template">
            <div class="input <%= label %>">
                <input type="checkbox" value="1" name="<%= label %>"><span class="item"><%= text %></span>
            </div>
        </script>

        <script type="text/template" id="input-div-template">
            <div class="input-item <%= className %>"></div>
        </script>

        <script type="text/template" id="radio-input-template">
            <input type="radio" value="<%= value %>" name="<%= label %>">
        </script>

        <script type="text/template" id="matrix-table-template">
            <table class="<%= label %>">
                <tr><td></td></tr>
            </table>
        </script>

        <script type="text/template" id="matrix-option-text-template">
            <td class="option"><%= text %></td>
        </script>

        <script type="text/template" id="matrix-item-text-template">
            <tr class="input input-item <%= className %>"><td><%= text %></td></tr>
        </script>

        <script type="text/template" id="matrix-input-template">
            <td class="option"><span class="<%= label %> item" style="display:none;"></span><input type="radio" value="<%= value %>" name="<%= label %>"></td>
        </script>

        <script type="text/template" id="dropdown-input-template">
            <option value="<%= value %>"><%= text %></option>
        </script>

        <script type="text/template" id="dropdown-select-template">
            <select class="input<%= className %> input-item" name="<%= label %>">
                <option value=""><em>Select answer</em></option>
            </select>
        </script>

        <script type="text/template" id="rank-input-template">
            <div class="rank-item <%= label %>">
                <span class="value"><%= value %></span>
                <span class="item"><%= text %></span>
                <input type="hidden" name="<%= label %>" value="<%= value %>">
            </div>
        </script>

        <script type="text/template" id="questions-button-template">
            <button type="button" name="<%= buttonName %>" class="<%= buttonName %>"><%= buttonCap %></button>
        </script>

        <script type="text/template" id="video-template">
            <video width="<%= width %>" height="<%= height %>" controls src="<%= source %>" allowfullscreen></video>
        </script>

        <script type="text/template" id="iframe-template">
            <iframe width="<%= width %>" height="<%= height %>" frameborder="0" src="<%= source %>" allowfullscreen></iframe>
        </script>

        <!-- Supported libraries -->
        <script type="text/javascript" src="js/lib/jquery.js"></script>
        <script type="text/javascript" src="js/lib/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="js/lib/underscore.js"></script>
        <script type="text/javascript" src="js/lib/backbone.js"></script>
        <script type="text/javascript" src="js/lib/backbone-deep-model.js"></script>
        <script type="text/javascript" src="js/lib/leaflet/leaflet.js"></script>
        <script type="text/javascript" src="js/lib/fuse.js"></script>
        <script type="text/javascript" src="js/lib/mapboxgl/mapboxgl.js"></script>
        <script type="text/javascript" src="js/lib/simple_statistics.js"></script>
        <script type="text/javascript" src="js/lib/d3.js"></script>
        <script type="text/javascript" src="js/lib/topojson.js"></script>
        <script type="text/javascript" src="js/lib/colorbrewer.js"></script>
        <script type="text/javascript" src="js/lib/turf.js"></script>
        <script type="text/javascript" src="js/lib/heatmap.js"></script>
        <script type="text/javascript" src="js/lib/leaflet-heatmap.js"></script>
        <script type="text/javascript" src="js/lib/leaflet-providers.js"></script>
        <script type="text/javascript" src="js/lib/modernizr.js"></script>

        <!-- Application script -->
        <script type="text/javascript" src="js/modules/app.js"></script>
        <script type="text/javascript" src="js/modules/m-section.js"></script>
        <script type="text/javascript" src="js/modules/q-section.js"></script>
    </body>
</html>
