<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" href="favicon.ico">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="js/lib/jquery-ui/jquery-ui.css">
        <link rel="stylesheet" href="js/lib/leaflet/leaflet.css">
        <link rel="stylesheet" href="js/lib/leaflet/leaflet.fusesearch.css">
        <link rel="stylesheet" href="js/lib/mapboxgl/mapboxgl.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="cover"></div>
        <div id="container">
            <section id="header">
                <h1 class="content"></h1>
                <img>
            </section>
            <section id="m">I'm gonna be a map when I grow up!</section>
            <section id="q">I'm gonna be a bunch of questions!</section>
            <section id="footer">
                <span class="content"></span>
            </section>
        </div>

        <script type="text/template" id="question-template">
            <div>
                <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %>>
                <%= title %>
            </div>
        </script>

        <script type="text/template" id="interaction-control-template">
            <div class="<%= interaction %>-control interaction-control button">
                <img src="img/icons/<%= interaction %>.png" alt="<%= interaction %>" title="click for <%= interaction %> interaction">
            </div>
        </script>

        <script type="text/template" id="pan-control-template">
            <div class="pan-button button" id="pan-up">
                <img src="img/icons/uparrow.png" alt="pan up" title="pan up">
            </div>
            <div class="pan-button button" id="pan-left">
                <img src="img/icons/leftarrow.png" alt="pan left" title="pan left">
            </div>
            <div class="pan-button button" id="pan-right">
                <img src="img/icons/rightarrow.png" alt="pan right" title="pan right">
            </div>
            <div class="pan-button button" id="pan-down">
                <img src="img/icons/downarrow.png" alt="pan down" title="pan down">
            </div>
        </script>

        <script type="text/template" id="overlay-control-template">
            <div class="overlay-control-layer <%= techniqueType %>-layer" id="overlay-layer-<%= layerId %>">
                <input type="checkbox" name="overlay-input" value="<%= layerId %>">
                <label for="<%= layerId %>"><%= layerName %></label>
            </div>
        </script>

        <script type="text/template" id="underlay-control-template">
            <div class="underlay-control-layer" id="underlay-layer-<%= layerId %>">
                <input type="radio" name="underlay-input" value="<%= layerId %>">
                <label for="<%= layerId %>"><%= layerName %></label>
            </div>
        </script>

        <script type="text/template" id="slider-template">
            <div id="<%= layerName %>-slider-div" class="filter-row">
                <p class="layer-name"><%= layerName %>&nbsp;<select name="<%= layerName %>"></select></p>
                <div id="<%= layerName %>-labels" class="slider-labels">
                <span class="left"></span><span class="right"></span>
                </div>
                <div id="<%= layerName %>-slider" class="range-slider"></div>
            </div>
        </script>

        <script type="text/template" id="logic-template">
            <div id="<%= layerName %>-logic-div" class="filter-row">
                <input type="text" name="value1" size="8">
                &nbsp;&lt;&nbsp;<%= layerName %>&nbsp;<select name="<%= layerName %>"></select>&nbsp;&lt;&nbsp;
                <input type="text" name="value2" size="8">
            </div>
        </script>

        <script type="text/template" id="filter-options-template">
            <option value="<%= attribute %>"><%= attribute %></option>
        </script>

        <script type="text/template" id="choropleth-legend-template">
            <rect width="20" height="12" x="10" y="<%= y + 3 %>" fill="<%= range %>"/>
            <text x="35" y="<%= y + 13 %>"><%= label %></text>
        </script>

        <script type="text/template" id="proportional-symbol-legend-template">
            <circle cx="<%= cx %>" cy="<%= svgHeight - range - 3 %>" r="<%= range %>"/>
            <text x="<%= cx * 2 %>" y="<%= y + 13 %>"><%= label %></text>
        </script>

        <script type="text/template" id="close-button-template">
            <a class="close" style="left: <%= x %>; display: none;">&times;</a>
        </script>

        <!-- Supported libraries -->
        <script type="text/javascript" src="js/lib/jquery.js"></script>
        <script type="text/javascript" src="js/lib/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="js/lib/underscore.js"></script>
        <script type="text/javascript" src="js/lib/backbone.js"></script>
        <script type="text/javascript" src="js/lib/backbone-deep-model.js"></script>
        <script type="text/javascript" src="js/lib/leaflet/leaflet.js"></script>
        <script type="text/javascript" src="js/lib/fuse.js"></script>
        <script type="text/javascript" src="js/lib/leaflet/leaflet.fusesearch.js"></script>
        <script type="text/javascript" src="js/lib/mapboxgl/mapboxgl.js"></script>
        <script type="text/javascript" src="js/lib/simple_statistics.js"></script>
        <script type="text/javascript" src="js/lib/d3.js"></script>
        <script type="text/javascript" src="js/lib/turf.js"></script>
        <script type="text/javascript" src="js/lib/modernizr.js"></script>

        <!-- Application script -->
        <script type="text/javascript" src="js/modules/app.js"></script>
        <script type="text/javascript" src="js/modules/m-section.js"></script>
        <script type="text/javascript" src="js/modules/q-section.js"></script>
    </body>
</html>
